# This docker compose file is designed for runtime.
# Images are built separately using `docker buildx bake`.

services:

  ## Hashicorp Vault for secret's
  ## Vault Dev
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: on-failure
    ports:
      - "8200:8200"
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=srikanth # WARNING: For development only!
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
#      - VAULT_LOG_LEVEL=debug
      # This address is used by the vault CLI inside the container
      - VAULT_ADDR=http://127.0.0.1:8200
    cap_add:
      - IPC_LOCK
    healthcheck:
      test: [ "CMD", "vault", "status", "-address=http://127.0.0.1:8200" ]
      interval: 5s
      timeout: 3s
      retries: 10
    volumes:
      # Mount the entrypoint script and init script into the container that we just created
      - ./vault/config/vault-entrypoint.sh:/usr/local/bin/vault-entrypoint.sh
      - ./vault/config/init-vault-secrets.sh:/usr/local/bin/init-vault-secrets.sh
      # persist vault data across container restarts
      - vault:/vault/data
    # Use the script as the entrypoint for the container
    entrypoint: /usr/local/bin/vault-entrypoint.sh
    networks:
      - apps-network

#  ## Vault Prod
#  vault:
#    image: hashicorp/vault:latest
#    container_name: vault
#    restart: on-failure
#    ports:
#      - "8200:8200"
##    environment:
##      - VAULT_DEV_ROOT_TOKEN_ID=srikanth # WARNING: For development only!
##      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
#    cap_add:
#      - IPC_LOCK
#    volumes:
#      - vault:/vault/data
#      - ./vault/config:/home/skakumanu/practice/micro-services/vault/config
#    command: vault server -config=/home/skakumanu/practice/micro-services/vault/config/vault-prod.hcl
#    depends_on:
#      - mariadb
#    networks:
#      - tools

  # MariaDB
  mariadb:
    image: mariadb:latest
    restart: on-failure
    environment:
      MARIADB_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
      - ./mariadb-init:/docker-entrypoint-initdb.d
    networks:
      - apps-network

  # UI for MariaDB/MySQL
  phpmyadmin:
    image: phpmyadmin
    restart: on-failure
    ports:
      - "40001:80"
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
    networks:
      - apps-network

  # Eureka-Discovery-service
  eureka-discovery-service:
    image: eureka-discovery-service:latest # Changed from 'build' to 'image'
    container_name: eureka-discovery-service
    depends_on:
      vault:
        condition: service_healthy
      mariadb:
        condition: service_started
    ports:
      - "9111:9111"
    environment:
      - EUREKA_INSTANCE_HOSTNAME=eureka-discovery-service
      - EUREKA_INSTANCE_PREFER_IPADDRESS=true
      - SPRING_ACTIVE_PROFILE=dev
      - SERVER_PORT=9111
#    healthcheck:
#      test: [ "CMD", "curl", "-f", "http://localhost:9111/actuator/health" ]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#      start_period: 30s
    networks:
      - apps-network

  # User microservice
  user-service:
    image: user-service:latest # Changed from 'build' to 'image'
    container_name: user-service
    depends_on:
      vault:
        condition: service_healthy
      mariadb:
        condition: service_started
      eureka-discovery-service:
        condition: service_started
    ports:
      - "9121:9121"
    environment:
      - SPRING_APP_NAME=user-service
      - SERVER_PORT=9121
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
      - USER_SESSION_TIMEOUT=5m
      - EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE=http://eureka-discovery-service:9111/eureka
      - ROOT_LOG_LEVEL=info
      - SPRING_SECURITY_LOG_LEVEL=info # Remove in Production
      - LOG_PATTERN_CONSOLE=%green(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %blue(-%5level) %red([%thread]) %magenta(---){faint} %yellow(%logger{15}) - %msg%n
      - SPRING_ACTIVE_PROFILE=dev
      - VAULT_HOST=vault
      - VAULT_PORT=8200
      - VAULT_TOKEN=srikanth
#    healthcheck:
#      test: [ "CMD", "curl", "-f", "http://localhost:9121/actuator/health" ]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#      start_period: 40s
    networks:
      - apps-network

  # books microservice
  books-service:
    image: books-service:latest
    container_name: books-service
    depends_on:
      - vault
      - mariadb
      - eureka-discovery-service
    ports:
      - "9151:9151"
    environment:
      - SPRING_APP_NAME=books-service
      - SERVER_PORT=9151
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
      - EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE=http://eureka-discovery-service:9111/eureka
      - ROOT_LOG_LEVEL=info
      - LOG_PATTERN_CONSOLE=%green(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %blue(-%5level) %red([%thread]) %magenta(---){faint} %yellow(%logger{15}) - %msg%n
      - SPRING_ACTIVE_PROFILE=dev
      - VAULT_HOST=vault # vault service name in compose.yaml
      - VAULT_PORT=8200
      - VAULT_TOKEN=srikanth
    #    healthcheck:
    #      test: [ "CMD", "curl", "-f", "http://localhost:9151/actuator/health" ]
    #      interval: 10s
    #      timeout: 5s
    #      retries: 5
    #      start_period: 40s

    networks:
      - apps-network

  # API Gateway
  api-gateway:
    image: api-gateway:latest # Changed from 'build' to 'image'
    container_name: api-gateway
    depends_on:
      vault:
        condition: service_healthy
      mariadb:
        condition: service_started
      eureka-discovery-service:
        condition: service_started
      user-service:
        condition: service_started
    ports:
      - "9211:9211"
    environment:
      - SPRING_APP_NAME=api-gateway
      - SERVER_PORT=9211
      - SPRING_ACTIVE_PROFILE=dev
      - EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE=http://eureka-discovery-service:9111/eureka
      - ROOT_LOG_LEVEL=info
      - LOG_PATTERN_CONSOLE=%green(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %blue(-%5level) %red([%thread]) %magenta(---){faint} %yellow(%logger{15}) - %msg%n
      - VAULT_HOST=vault # vault service name in compose.yaml
      - VAULT_PORT=8200
      - VAULT_TOKEN=srikanth
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9211/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 50s
    networks:
      - apps-network

#  # Cloud Config Server Service
#  cloud-config-service:
#    image: cloud-config-service:latest # Changed from 'build' to 'image'
#    container_name: cloud-config-service
##    depends_on:
##      - vault
##      - mariadb
##      - eureka-discovery-service
##      - user-service
#    ports:
#      - "9311:9311"
#    environment:
#      - SPRING_APP_NAME=cloud-config-service
#      - EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE=http://eureka-discovery-service:9111/eureka
#      - ROOT_LOG_LEVEL=info
#      - LOG_PATTERN_CONSOLE=%green(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %blue(-%5level) %red([%thread]) %magenta(---){faint} %yellow(%logger{15}) - %msg%n
#      - SPRING_ACTIVE_PROFILE=dev
#      - SERVLET_CONTEXT_PATH=/config
#    networks:
#      - apps-network


volumes:
  mariadb:
    driver: local
  vault:
    driver: local

networks:
  apps-network:
    driver: bridge