services:

  # MariaDB
  mariadb:
    image: mariadb:latest
    restart: on-failure
    environment:
      MARIADB_DATABASE:
      #      MARIADB_USER: root
      #      MARIADB_PASSWORD: root
      MARIADB_ROOT_PASSWORD: root
    #    expose:
    #      - 40000
    ports:
      - 3306:3306
    volumes:
      - mariadb:/var/lib/mysql

  # UI for MariaDB/MySQL
  phpmyadmin:
    image: phpmyadmin
    restart: on-failure #always
    expose:
      - 40001
    ports:
      - 40001:80
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306

  # Eureka-Discovery-service
  eureka-discovery-service:
    #    image: srik1980/eureka-discovery-service:1.0
    build:
      context: ./eureka-discovery
    container_name: eureka-discovery-service
    ports:
      - "9111:9111"

  # User micro service
  user-service:
#    image: srik1980/user-service:1.0
    build:
      context: ./user-service
    container_name: user-service
    depends_on:
      - mariadb
      - phpmyadmin
    ports:
      - "9121:9121"
    environment:
      - SPRING_DATASOURCE_USERNAME=theuser
      - SPRING_DATASOURCE_PASSWORD=theuser
      - SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/userdb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate

  # To-Do micro service
  todo-service:
#    image: srik1980/todo-service:1.0
    build:
      context: ./todo-service
    container_name: todo-service
    depends_on:
      - mariadb
      - phpmyadmin
    ports:
      - "9131:9131"
    environment:
      - SPRING_DATASOURCE_USERNAME=theuser
      - SPRING_DATASOURCE_PASSWORD=theuser
      - SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/tododb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate

  # video micro-service
  video-service:
#    image: srik1980/video-service:1.0
    build:
      context: ./video-service
    container_name: video-service
    depends_on:
      - mariadb
      - phpmyadmin
    ports:
      - "9141:9141"
    environment:
      - SPRING_DATASOURCE_USERNAME=theuser
      - SPRING_DATASOURCE_PASSWORD=theuser
      - SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/videodb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create

  # books micro service
  books-service:
#    image: srik1980/books-service:1.0
    build:
      context: ./books-service
    container_name: books-service
    depends_on:
      - mariadb
      - phpmyadmin
    ports:
      - "9151:9151"
    environment:
      - SPRING_DATASOURCE_USERNAME=theuser
      - SPRING_DATASOURCE_PASSWORD=theuser
      - SPRING_DATASOURCE_URL=jdbc:mariadb://mariadb:3306/booksdb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
  #      - SPRING_JPA_HIBERNATE_DDL_AUTO=create


volumes:
  mariadb:
    driver: local
